.vs/
/shadow/
cpp/**/bin/
cpp/**/debug/
cpp/**/release/

# vsfiles
*.vcproj.user
*.vcproj.*.user
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.*.user
*.vcxproj
*.rc
*.pro.user
*.pdb
*.idb
*.obj
stable.h.cpp
stdafx.h.cpp
*.ncb
*.suo
*.pyc
*.ipch
*.sdf
*.opensdf
*.aps
*.stash
*.sln